@use 'cursor/cursor';

body {
  margin: 0;
  padding: 0;
}

.container {
  z-index: 50;
}

.menu {
  width: 100%;
  height: 50%;
  position: absolute;
  background-color: #fff;
  z-index: 50;

  &:hover {
    background: aqua;
  }
}

