@font-face {
  font-family: "Nib Pro";
  src: url("../font/Nib Pro/NibPro-LightItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Sailec";
  src: url("../font/Sailec-Font/Sailec-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: none;
}

ul, ol {
  list-style: none;
}

.cursor {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: -8px 0 0 -8px;
  background-color: #46968A;
  z-index: 99999;
  position: absolute;
  pointer-events: none;
  transition: background-color 0.5s, width 0.5s, height 0.5s, margin 0.5s;
}

.hover {
  width: 64px;
  height: 64px;
  background: url("../images/pointing.png") no-repeat center;
  background-color: rgba(70, 150, 138, 0.2);
  margin: -32px 0 0 -32px;
}

.banner {
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  padding: 250px 0 120px;
  position: relative;
}
.banner_image {
  display: block;
  width: 560px;
  margin: 0 auto;
  animation: rotate 120s linear infinite;
}
.banner_text_title {
  position: absolute;
  font-size: 125px;
}
.banner_text_title.italic {
  font-weight: 400;
  font-style: italic;
}
.banner_text_title.italic:first-child {
  top: 300px;
  left: 100px;
}
.banner_text_title.italic:last-child {
  bottom: 350px;
  right: 200px;
}
.banner_text_title.regular {
  font-family: "Sailec";
  font-size: 100px;
  top: 425px;
}
.banner_text_title.regular:nth-child(2) {
  left: 0;
}
.banner_text_title.regular:nth-child(3) {
  right: 0;
}
.banner_description {
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  position: absolute;
  left: 0;
  bottom: 150px;
}
.banner_description_inner {
  margin-top: 30px;
  display: block;
  width: 200px;
  height: 50px;
}
.banner_description_link {
  font-style: italic;
  color: unset;
  height: 50px;
  margin-top: 10px;
  display: block;
}
.banner_description_bracket {
  font-size: 50px;
  line-height: 10px;
  vertical-align: middle;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu {
  width: 100%;
  height: 120px;
  position: fixed;
  background: linear-gradient(180deg, rgb(250, 251, 251), rgba(250, 251, 251, 0) 100%);
  z-index: 50;
}
.menu.active {
  backdrop-filter: blur(20px);
  background: unset;
}
.menu_logo {
  position: absolute;
  top: 25px;
  left: 50px;
}
.menu_logo_img {
  height: 30px;
}
.menu_main {
  display: table;
  margin: 33px auto 0;
}
.menu_main_list {
  display: flex;
  flex-direction: row;
}
.menu_main_item {
  margin-right: 20px;
}
.menu_main_link {
  color: black;
  margin: 0 5px;
}
.menu_main_link.active {
  margin: 0;
}
.menu_additional {
  position: absolute;
  top: 30px;
  right: 50px;
}
.menu_additional_list {
  display: flex;
}
.menu_additional_item {
  margin-right: 20px;
}
.menu_additional_counter {
  position: absolute;
  top: 2px;
  right: 5px;
  color: black;
}
.menu_additional_search {
  display: none;
  position: fixed;
  top: 120px;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(20px);
  z-index: 100;
}
.menu_additional_search.active {
  display: block;
}
.menu_additional_search_label, .menu_additional_search_input {
  display: flex;
  margin: 0 auto;
  cursor: none !important;
}
.menu_additional_search_label {
  margin-top: 50px;
}
.menu_additional_search_input {
  margin: 250px auto 0;
  outline: none;
  box-shadow: none;
  border: none;
  background: none;
  padding: 10px 30px;
  border-bottom: 1px solid gray;
  font-size: 100px;
  text-align: center;
  max-width: 900px;
  font-style: italic;
}
.menu_additional_search_bracket {
  margin: 0 auto;
  font-size: 56px;
  line-height: 10px;
  vertical-align: middle;
}
.menu_additional_search_text {
  font-size: 24px;
  margin: 0 auto;
  font-style: italic;
}

.catalog {
  position: fixed;
  top: 120px;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(20px);
  display: none;
  z-index: 100;
  padding: 20px 100px 20px 50px;
  justify-content: space-between;
}
.catalog_item {
  margin: 10px 0;
}
.catalog_header {
  font-style: italic;
  margin-bottom: 30px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Saelic";
  cursor: none !important;
}
body.no-scroll {
  overflow: hidden;
  height: 100%;
}

.blank {
  display: block;
  width: 100%;
  height: 1000px;
  background-color: coral;
}
.blank.second {
  background-color: thistle;
}

.container {
  z-index: 50;
}

/*# sourceMappingURL=style.css.map */
